@tailwind base;
/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
html,
body,
.bg-gray-100 {
  min-height: 100vh;
}

.divider {
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  border-style: solid;
  border-width: 0 0 4px 0;
}

.select {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
  border-radius: 0;
  outline-color: #e7e7e7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-style: solid;
  border-width: 4px;
}

.select.select-main:after {
  width: 3px;
  height: 3px;
  color: #212529;
  box-shadow: 3px 3px, 6px 3px, 9px 3px, 12px 3px, 15px 3px, 18px 3px, 21px 3px,
    3px 6px, 6px 6px, 9px 6px, 12px 6px, 15px 6px, 18px 6px, 21px 6px, 6px 9px,
    9px 9px, 12px 9px, 15px 9px, 18px 9px, 6px 12px, 9px 12px, 12px 12px,
    15px 12px, 18px 12px, 9px 15px, 12px 15px, 15px 15px, 12px 18px;
  position: absolute;
  top: calc(50% - 11px);
  right: 36px;
  pointer-events: none;
  content: "";
}

header {
  display: flex !important;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

header img {
  margin-right: 30px;
}

header h1 {
  font-weight: bold;
  font-size: 30px;
}
.__rcs-handle-button {
  margin-left: 20px !important;
  height: 36px !important;
  top: -2px !important;
  position: relative;
}
.__rcs-handle-button > div {
  width: 3px !important;
  height: 3px !important;
  color: white !important;
  box-shadow: 3px 3px, 6px 3px, 9px 3px, 12px 3px, 15px 3px, 18px 3px, 21px 3px,
    3px 6px, 6px 6px, 9px 6px, 12px 6px, 15px 6px, 18px 6px, 21px 6px, 6px 9px,
    9px 9px, 12px 9px, 15px 9px, 18px 9px, 6px 12px, 9px 12px, 12px 12px,
    15px 12px, 18px 12px, 9px 15px, 12px 15px, 15px 15px, 12px 18px !important;
  position: absolute !important;
  top: calc(50% - 11px) !important;
  right: 36px !important;
  pointer-events: none !important;
  content: "" !important;
  transform: rotate(90deg) !important;
  border: none !important;
}

.__rcs-handle-button > div:last-child {
  transform: rotate(-90deg) !important;
  margin-top: 24px;
}

#error-dialog {
  position: fixed;
  bottom: 0;
  max-width: 300px;
  right: 0;
}

.nes-range {
  width: 100%;
  cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Chrome */
  /* ========= */
  /* Firefox */
  /* ========= */
  /* IE */
  /* ========= */
}

.nes-range::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer;
  background: #ffffff url(http://pixelartmaker.com/art/60cb3a757c0224f.png)
    no-repeat center center;
  background-size: cover;
  border-radius: 100%;
  -webkit-appearance: none;
  transform: translateY(-35%) translateX(50%);
}

.nes-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer;
  background: #209cee;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

.nes-range.is-green::-webkit-slider-runnable-track {
  background: url(http://pixelartmaker.com/art/df6c91f0e0f038f.png);
  background-repeat: repeat-x;
  background-size: auto;
}

.nes-range.is-yellow::-webkit-slider-runnable-track {
  background: #f7d51d;
}

.nes-range.is-red::-webkit-slider-runnable-track {
  background: #e76e55;
}

.nes-range::-moz-range-thumb {
  width: 24px;
  height: 24px;
  cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer;
  background: #ffffff url(http://pixelartmaker.com/art/60cb3a757c0224f.png)
    no-repeat center center;
  background-size: cover;
  border: none;
  outline: none;
  border-radius: 100%;
  transform: translateX(50%);
  -webkit-appearance: none;
}

.nes-range::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer;
  background: #209cee;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

.nes-range.is-green::-moz-range-track {
  background: url(http://pixelartmaker.com/art/df6c91f0e0f038f.png);
  background-repeat: repeat-x;
  background-size: auto;
}

.nes-range.is-yellow::-moz-range-track {
  background: #f7d51d;
}

.nes-range.is-red::-moz-range-track {
  background: #e76e55;
}

.nes-range::-ms-thumb {
  width: 24px;
  height: 24px;
  cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer;
  background: #ffffff url(http://pixelartmaker.com/art/60cb3a757c0224f.png)
    no-repeat center center;
  background-size: cover;
  border-radius: 100%;
  -webkit-appearance: none;
  transform: translateY(-35%) translateX(50%);
}

.nes-range::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer;
  background: #209cee;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

.nes-range:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    text-align: center;
  }

  .max-w-7xl {
    max-width: 90%;
  }
  .nes-btn input[type="file"] {
    display: none;
  }
  .advanced-button {
    font-size: 14px;
  }

  .advanced-button + section {
    display: block;
  }
}

.advanced-button {
  position: relative;
  transition: transform 200ms ease;
}
.advanced-button:after {
  width: 3px;
  height: 3px;
  color: #212529;
  box-shadow: 3px 3px, 6px 3px, 9px 3px, 12px 3px, 15px 3px, 18px 3px, 21px 3px,
    3px 6px, 6px 6px, 9px 6px, 12px 6px, 15px 6px, 18px 6px, 21px 6px, 6px 9px,
    9px 9px, 12px 9px, 15px 9px, 18px 9px, 6px 12px, 9px 12px, 12px 12px,
    15px 12px, 18px 12px, 9px 15px, 12px 15px, 15px 15px, 12px 18px;
  position: absolute;
  top: calc(50% - 11px);
  right: -4px;
  pointer-events: none;
  content: "";
  transition: transform 200ms ease;
}

.advanced-button.open:after {
  transform: rotateX(-180deg);
  top: calc(50% + 11px);
}
